{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSpacing": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "vueIndentScriptAndStyle": false,
  "printWidth": 80
}
